
   body {
    background-color: #68cdd5;
    margin:0 auto;
   }
   

   .footer { 
    width: 100%;
    
  }
   .footer .left {
    width: 50%;
    float: left;
    text-align: center;
   }
   .footer .left .img {
    margin-right: 0px;
    margin-top: 22px;
    max-width: 30%;
   }
   .footer .right {
    width: 50%;
    float: right;
    text-align: center;
   }
   .footer .right .img {
    margin-top: 22px;
    max-width: 30%;
   }
   .footer .font1 {
    font-size: 80%;
    font-family: "AdobeHeitiStd-Regular","Microsoft Yahei","Monaco","Consolas";
    color: #fff;
   }
   .footer .font2 {
    font-size: 80%;
    font-family: "AdobeHeitiStd-Regular","Microsoft Yahei","Monaco","Consolas";
    color: #fff;
   }


   .index {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 90px;
    text-align: center;
    
   }
   .index .header {
    width: 8.5%;
    height: auto;
    margin-left: 20px;
    
   }
   .index .header .img {
    max-width: 80%;
    
   }
   .index .article1 {
    margin: 0 auto;
    margin-top: 22px;
    width: 28.4375%;
    height: auto; 
    
   }
   .index .article1 .img {
    max-width: 100%;
    max-height: 100%;
   }
   .index .article2 {
    margin: 0 auto;
    margin-top: 56px; 
    width: 70.3125%;   
    font-family: arial,"HiraginoSans GB",sans-serif,"Microsoft Yahei";
    color:#fff;
    
    line-height: 32px;
    text-align: justify;
   }
    @media (max-width: 1024px) {
      p {
        font-size: 30px;
      }
    }   
    @media (max-width: 800px) {
      p {
        font-size: 24px;
      }
    }
    @media (max-width: 640px) {
      p {
        font-size: 18px;
      }
    }
    @media (max-width: 320px) {
      p {
        font-size: 15px;
      }
    }