    body {margin: 0; background: #000;}
    .box0 {
        background-color: #eff0f4;
        margin: 0 auto;
        max-width: 720px;
        height: 50rem;
        

    }
    .header {
        background-color: #5fc0cd;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        height: 44px;
        color: #fff;
    }
    .header .part1 {
        float: left;
        font-family: "Microsoft YaHei light";
        font-size: 120%;
        text-align: center;
        width: 17%;
        height: 44px;
        line-height: 44px;      
    }
    .header span {
        float: left;
        display: block;
        font-family: "Microsoft YaHei light";
        font-size: 130%;
        text-align: center;
        margin: auto;
        width: 66%;
        height: 44px;
        line-height: 44px;   
    } 
    .header .part3 {
        float: right;
        font-family: "Microsoft YaHei light";
        font-size: 120%;
        text-align: center;
        width: 17%;
        height: 44px;
        line-height: 44px;
    }
    a {cursor: pointer;}
    .load {
        background-color: #fff;
        position: relative;
        margin: 2.2% auto;
        width: 100%;
        height: 32px;
        padding-top: 3.3%;
        padding-bottom: 3.3%;
    }
    .load .account {
        position: absolute;
        border-right: 2px solid #f2f4f4;
        background: url(images/phone.png) no-repeat 50%;
        max-background-size: 40%;
        width: 18%;
        height: inherit;
    }
    input {
        padding-left: 20%;
        border: none;
        width: 70%;
        height: 100%;
        font-size: 100%;
        font-family: "Microsoft YaHei light";
        outline: medium;
    } 
    .load .password {
        position: absolute;
        border-right: 2px solid #f2f4f4;
        background: url(images/passwordmin.png) no-repeat 50%;
        max-background-size: 40%;
        width: 18%;
        height: inherit;
    }
    button {
        cursor: pointer;
        background-color: #5fc0cd;
        margin: 7.8% auto .5em;
        width: 100%;
        height: 50px;
        
        border: none;
        font-size: 130%;
        font-family: "Microsoft YaHei light";
        text-align: center;
        color: #fff;
    }  
    .forgetpsd {
        float: right;
        margin-right: .5em;
        font-size: 120%;
        font-family: "Microsoft YaHei light";
        color: #83ccd7;
    }
    .footer {
        position: absolute;
        max-width: 720px;
        height: 100%;
    }