
body {
        background-color: #eff0f4;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    .header {
        background-color: #5fc0cd;
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 44px;
    }
    .header .part1 {
        float: left;
        position: relative;
        width: 20%;
        height: inherit;      
    }
    .header .part2 {
        float: left;
        position: relative;
        margin: auto;
        width: 60%;
        height: inherit;   
    } 
    .header .part3 {
        float: left;
        position: relative;
        width: 20%;
        height: inherit;
    }
    .header .part1 .close{
        position: absolute;
        top: 50%;
        left: 50%;
        text-transform: translate(-50%,-50%);
        -webkit-transform:translate(-50%,-50%);
        -moz-transform:translate(-50%,-50%);
        -ms-transform:translate(-50%,-50%);   
    }
    .header .part1 .close .img {width: 100%;}
    .header .part2 .title {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        text-transform: translate(-50%,-50%);
        -webkit-transform:translate(-50%,-50%);
        -moz-transform:translate(-50%,-50%);
        -ms-transform:translate(-50%,-50%);
    }
    .header .part2 .title .img {width: 70%;}
    .header .part3 .register {
        position: absolute;
        top: 50%;
        left: 50%;
        text-transform: translate(-50%,-50%);
        -webkit-transform:translate(-50%,-50%);
        -moz-transform:translate(-50%,-50%);
        -ms-transform:translate(-50%,-50%);   
    }
    .header .part3 .register .img {width: 100%;}
    .load {
        background-color: #fff;
        position: relative;
        margin: 2.2% auto;
        width: 100%;
        height: 32px;
        padding-top: 3.3%;
        padding-bottom: 3.3%;
    }
    .load .account {
        position: absolute;
        border-right: 3px solid #f2f4f4;
        background: url(images/phone.png) no-repeat 50%;
        width: 20%;
        height: inherit;
    }
    input {
        padding-left: 22%;
        border: none;
        width: 79%;
        height: 100%;
        font-size: 100%;
        outline: medium;
    }   
    .load .password {
        position: absolute;
        border-right: 3px solid #f2f4f4;
        background: url(images/passwordmin.png) no-repeat 50%;
        width: 20%;
        height: inherit;
    }
    button {
        cursor: pointer;
        background-color: #5fc0cd;
        margin: 7.8% auto 12px;
        width: 100%;
        height: 50px;
        padding-top: 3%;
        padding-bottom: 5%;
        border: none;
        font-size: 140%;
        text-align: center;
        color: #fff;
    }  
    .forgetpsd {
        float: right;
        margin-right: 12px;
        font-size: 100%;
        color: #83ccd7;
    }
    .forgetpsd a { text-decoration: none;}